*
{
	margin: 0px;
	-webkit-user-select: none;
    user-select: none;
	cursor: default;
	font-family: "Segoe UI", cursive, sans-serif;
	font-size: 10pt;
	color: rgba(255, 255, 255, 0.5);
}
.window
{
	color: rgba(255, 255, 255, 1);
	font-family: "Segoe UI", cursive, sans-serif;
	font-size: 10pt;
	text-align: left;
}
.window #top
{
	position: fixed;
	right: 0px; /* BORDER ATTRIBUTE */
	left: 0px; /* BORDER ATTRIBUTE */
	height: 32px;
	padding: 0px;
	background: rgba(47, 77, 114, 0.50);
}
.window #title
{
	position: relative;
	top: -3px;
	border: 0px;
	width: 100%;
	margin-top: 0px;
	padding: 0px;
	height: 32px;
	right: -3px;
    border: 0px;
	vertical-align: middle;
}
.window #titleicon
{
	-webkit-app-region: drag;
    width: 10px;
    height: 32px;
}
.window #titlemenu
{
	display: list-item;
	list-style-type: none;
	height: 0px;
}
.window #titlebar
{
	-webkit-app-region: drag;
	display: flex;
	height: 29px;
	vertical-align: middle;
}
.window #titlebutton
{
	padding: 0px;
	width: 120px;
	top: 0px;
	vertical-align: middle;
}
.window #titleborder
{
	position: relative;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.5);
	height: 50%;
	top: 25%;
}
.window #titletext
{
	position: relative;
	white-space: nowrap;
	width: 100%;
	margin-left: 10px;
	top: -1px;
	vertical-align: middle;
}
.window #left
{
	position: fixed;
	top: 32px;
	left: 0px; /* BORDER ATTRIBUTE */
	bottom: 0px; /* BORDER ATTRIBUTE */
	right: auto;
	width: 1px;
	height: auto;
	background: rgba(47, 77, 114, 0.50);
}
.window #bottom
{
	position: fixed;
	top: auto;
	left: 0px; /* BORDER ATTRIBUTE */
	bottom: 0px; /* BORDER ATTRIBUTE */
	right: 0px; /* BORDER ATTRIBUTE */
	height: 1px;
	background: rgba(47, 77, 114, 0.50);
}
.window #right
{
	position: fixed;
	top: 32px;
	left: auto;
	right: 0px; /* BORDER ATTRIBUTE */
	bottom: 0px; /* BORDER ATTRIBUTE */
	width: 1px;
	height: auto;
	background: rgba(47, 77, 114, 0.50);
}
.container-wrapper
{
	position: fixed;
	top: 32px;
	left: 0px; /* BORDER ATTRIBUTE */
	bottom: 0px; /* BORDER ATTRIBUTE */
	right: 0px; /* BORDER ATTRIBUTE */
	color: rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 0.5);
}
.container
{
	position: relative;
	height: 100%;
	width: 100%;
	border: 0px;
	overflow: auto;
	text-align: justified;
}
#tl-icon
{
	position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    text-align: center;
}
#tb-btn-exit
{
	-webkit-app-region: none;
	width: 40px;
	height: 32px;
	background-color: rgba(255, 0, 0, 0.25);
	float: right;
}
#tb-btn-exit:hover
{
	background-color: rgba(255, 0, 0, 1);
}
#tb-btn-exit:active
{
	background-color: rgba(0, 0, 0, 0.25);
}
#tb-btn-max
{
	-webkit-app-region: none;
	width: 40px;
	height: 32px;
	background-color: rgba(0, 0, 0, 0);
	float: right;
}
#tb-btn-max:hover
{
	background-color: rgba(255, 255, 255, 0.25);
}
#tb-btn-max:active
{
	background-color: rgba(0, 0, 0, 0.25);
}
#tb-btn-min
{
	-webkit-app-region: none;
	width: 40px;
	height: 32px;
	background-color: rgba(0, 0, 0, 0);
	float: right;
}
#tb-btn-min:hover
{
	background-color: rgba(255, 255, 255, 0.25);
}
#tb-btn-min:active
{
	background-color: rgba(0, 0, 0, 0.25);
}
#tb-btn-ctrl
{
	-webkit-app-region: none;
	height: 32px;
	background-color: rgba(0, 0, 0, 0);
	float: right;
}
#tb-btn-ctrl:hover
{
	background-color: rgba(255, 255, 255, 0.25);
}
#tb-btn-ctrl:active
{
	background-color: rgba(0, 0, 0, 0.25);
}
#tb-btn-menu
{
	-webkit-app-region: none;
	padding-left: 8px;
	padding-right: 8px;
    width: fit-content;
	height: 32px;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}
#tb-btn-menu:hover
{
	background-color: rgba(255, 255, 255, 0.25);
}
#tb-btn-menu:active
{
	background-color: rgba(0, 0, 0, 0.25);
}
.container-wrapper #dropdown
{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(47, 77, 114, 0.75);
}
.container-wrapper #dropdown-content
{
	display: block;
    padding: 12px 16px;
    min-width: 100px;
    overflow: auto;
    z-index: 1;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.1s ease, color 0.1s ease;
}
.container-wrapper #dropdown-divider
{
	display: block;
    width: auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	height: 0.5px;
    overflow: auto;
    z-index: 1;
	background-color: rgba(255, 255, 255, 0.75);
}
.container-wrapper #dropdown-content:hover
{
	background-color: rgba(255, 255, 255, 0.75);
	color: rgba(0, 0, 0, 0.75);
}
.container-wrapper #dropdown-content:active
{
	background-color: rgba(0, 0, 0, 0.75);
	color: rgba(255, 255, 255, 0.25);
}
#darken
{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.80);
}